/* Add a background color to the header element */
header {
    background-color: aqua;
    color: black;
    text-align: center;
}
/* Add a fun background color to the main element */

.city-image {
    height: auto;
    width: 400px;
    border-radius: 100px;
    border: 3px aqua solid;
    margin: 15px;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Put a border around your image */
footer {
    margin-left: 400px;
    margin-right: 400px;
    padding-left: -50px;
}
/* Change the font-family of your list */
main { 
    background-color: black;
}
/* Add a background color to the footer element*/
footer {
    background-color: black;
}